$taglist-bg-color: #f4f4f4;
$form-bg-color: #8d8d8d;

#taglist {
    
    .taglist-input {
        width: 100%;
        min-height: 2.5rem;
        background-color: $taglist-bg-color;
        border-bottom: 1px solid $form-bg-color;

        .bx--tag {
            margin: 0.5rem 0.15rem;
        }

        #new-tag-container{
            display: inline-block;
            width: fit-content;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;

            input {
                margin-left: 15px;
                border: 0.5px solid $form-bg-color;
                border-radius: 8px;
                min-height: 23px;
            }
    
            .add-button-tag {
                padding: 11px 23px;
                margin-left: 5px;
                min-height: auto;
                border-radius: 20px;
            }
        }
    }
}